body {
  font-family: "Calibri";
  color: white;
  background-color: rgb(33, 33, 33);
  font-size: 1.3em;
}

.button {
  cursor: pointer;
  border: 1px solid white;
  border-radius: 0.2em;
  font-size: inherit;
  color: inherit;
  background-color: rgb(55, 55, 55);
  padding: 0 0.5em 0.1em 0.5em;
  margin: 0.2em;
}

.flex-row {
  display: flex;
  flex-direction: row
}

.flexing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
}

/*
  Hide the actual buttons to let the labels become the buttons
*/
.hidden-element {
  display: none;
}
