<h1>{{title}}</h1>
<app-persons></app-persons>


<!-- Opening the Application the rest call for the list of applications and the list of persons will be sent. -->
<!-- Clicking on an application will send a REST call for the information regarding that aappllication. Get the userlist of that application. -->
<!-- Clicking on a user will send a REST call for the list of users -->
<!-- Angular displays the lsit of applications and the list of users at the beginning -->
<!-- After Getting the lsit of users for a clicked application Angular should change the content of the list respectively, or set some parameters to the internal JS Objects and display the whole list again. Second variannt will be the first one implemented, since modifying information in a JS list and redrawing of the table will be easier done -->


<!-- This tutorial comes from
   https://medium.freecodecamp.org/learn-how-to-create-your-first-angular-app-in-20-min-146201d9b5a7 -->
<!-- Test also
   https://angular.io/tutorial/toh-pt0 -->