.all {
  font-family: Calibri;
}

td {
  padding: 0px;
}

.invalidname {
  background-color: Tomato;
  color: white;
  padding: 0px 3px;
}

.dloadbtn {
  border: none;
  padding: 0px;
}

.dloadlink {
  background-color: white;
  color: Black;
  font-size: 20px;
  cursor: pointer;
}

.dloadlink:hover {
  color: DodgerBlue;
}

.cell {
  padding: 3px;
}

.idcell {
  text-align: right;
}

.firstnamecell {
  text-align: right;
}

.lastnamecell {
  text-align: left;
}

.deletebuttoncell {
  padding: 0;
}

.delbtn {
  background-color: white;
  border: none;
  color: Black;
  padding: 5px 5px;
  font-size: 16px;
  cursor: pointer;
}

.delbtn:hover {
  color: Tomato;
}

/* Border styles */

/* .cell {
  border-top: 1px solid black;
}

.idcell {
  border-left: 1px solid black;
}

.firstnamecell {
  border-left: 1px solid black;
}

.lastnamecell {
  border-left: 1px solid black;
}

.deletebuttoncell {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.tablebottom {
  border-bottom: 1px solid black;
} */