.flexcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5em 1.5em;
}

.ordernumber {
  color: white;
  font-family: Roboto;
  font-size: 3em;
  background-color: dodgerblue;
  border: 0px;
  border-radius: 0.3em;
  padding: 0.1em 0.3em;
}

.block {
  padding: 1em;
  border: 1px solid lightgrey;
  border-radius: 1em;
  max-width: 600px;
}

#orderdisplay {
  align-items: flex-start;
}

#controlview {
  align-items: center;
  justify-content: space-between;
  gap: 1.5em 1.5em;
}

#placeholder {
  visibility: hidden;
}

#newnumbercontainer {
  align-items: center;
}

#numberinput {
  color: black;
  font-family: Roboto;
  font-size: 3em;
  border: 0.1em solid dodgerblue;
  border-radius: 0.3em;
  padding: 0.1em 0.3em;
}

.button {
  color: white;
  border-radius: 20px;
  padding: 40px;
}

.icon {
  color: white;
  font-size: 80px;
}

#addbutton {
  background-color: limegreen;
}

#trashbinbutton {
  background-color: red;
}