@import url("https://fonts.googleapis.com/css?family=Raleway");
body {
  font-family: Raleway, sans-serif;
  /* background-color: black; */
  /* color: white; */
}

.readonly {
  color: grey;
}

canvas {
  border: 1px solid black;
}

.numberField {
  max-width: 20px;
}

.shortTextField {
  max-width: 100px;
}

td {
  vertical-align: top;
}